.advantages {
  .container;
  padding-top: 31px;
  padding-bottom: 29px;

  @media (min-width: @tablet-width) {
    padding-top: 55px;
    padding-bottom: 82px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 68px;
    padding-left: 225px;
    padding-bottom: 89px;
  }
}

.advantages__title {
  margin: 0;
  margin-bottom: 28px;

  @media (min-width: @tablet-width) {
    margin-bottom: 42px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 39px;
  }
}

.advantages__list {
  .font(17px, 20px);
  .list-reset;
  font-weight: 700;
  color: @color-black;
  display: grid;
  row-gap: 33px;

  @media (min-width: @tablet-width) {
    .font(20px, 22px);
    grid-template-columns: repeat(2, max-content);
    gap: 60px 35px;
  }

  @media (min-width: @desktop-width) {
    gap: 60px 50px;
  }
}

.advantages__item {
  @media (max-width: @mobile-width-only) {
    &:nth-of-type(2n + 2) {
      order: 1;
    }
  }

  &::before {
    content: "";
    display: block;
    background-repeat: no-repeat;
    background-position: center;
  }

  &--ecological::before {
    width: 33px;
    height: 38px;
    background-image: url("../img/sprite.svg#icon-ecological");
    margin-left: 8px;
    margin-bottom: 16px;

    @media (min-width: @tablet-width) {
      margin-bottom: 18px;
    }
  }

  &--cheap::before {
    width: 47px;
    height: 27px;
    background-image: url("../img/sprite.svg#icon-cheap");
    margin-bottom: 26px;
  }

  &--likes::before {
    width: 34px;
    height: 27px;
    background-image: url("../img/sprite.svg#icon-likes");
    margin-left: 7px;
    margin-bottom: 21px;

    @media (min-width: @tablet-width) {
      margin-left: 8px;
    }
  }

  &--knitting::before {
    width: 35px;
    height: 34px;
    background-image: url("../img/sprite.svg#icon-knitting");
    margin-left: 3px;
    margin-bottom: 17px;

    @media (min-width: @tablet-width) {
      margin-left: 2px;
      margin-bottom: 22px;
    }
  }

  &--domestic::before {
    width: 55px;
    height: 23px;
    background-image: url("../img/sprite.svg#icon-domestic");
    margin-left: -6px;
    margin-bottom: 26px;

    @media (min-width: @tablet-width) {
      margin-left: -7px;
      margin-bottom: 28px;
    }
  }

  &--gift::before {
    width: 33px;
    height: 32px;
    background-image: url("../img/sprite.svg#icon-gift");
    margin-left: 3px;
    margin-bottom: 20px;

    @media (min-width: @tablet-width) {
      margin-left: 2px;
      margin-bottom: 18px;
    }
  }
}

.advantages__text {
  margin: 0;

  @media (min-width: @tablet-width) {
    max-width: 300px;
  }
}
