.contacts {
  padding-top: 40px;
  padding-bottom: 39px;

  @media (min-width: @tablet-width) {
    position: relative;
    padding-top: 66px;
    padding-bottom: 57px;

    &::before {
      content: "";
      position: absolute;
      top: 45px;
      right: 53px;
      width: 47px;
      height: 81px;
      background-image: url("../img/icons/flag.svg");
      background-repeat: no-repeat;
    }
  }

  @media (min-width: @desktop-width) {
    padding-top: 71px;
    padding-left: 225px;
    padding-right: 50px;
    padding-bottom: 105px;
    display: grid;
    grid-template-columns: 326px 527px;
    column-gap: 23px;

    &::before {
      top: 133px;
      left: 113px;
    }
  }
}

.contacts__title {
  .container;
  margin: 0;
  margin-bottom: 28px;

  @media (min-width: @tablet-width) {
    margin-bottom: 49px;
    padding-right: 100px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 35px;
    padding: 0;
    padding-top: 79px;
  }
}

.contacts__address {
  .container;
  font-style: normal;
  display: grid;
  grid-template-columns: 76px auto;
  gap: 30px 2px;
  margin-bottom: 62px;

  @media (max-width: @mobile-width-only) {
    font-size: 14px;
  }

  @media (min-width: @tablet-width) {
    grid-template-columns: 76px min-content 46px 76px auto;
    margin-bottom: 49px;

    &::after {
      content: "";
      grid-column: 3 / 4;
      grid-row: 1 / 2;
    }
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: 76px auto;
    padding: 0;
    margin-bottom: 84px;

    &::after {
      display: none;
    }
  }
}

.contacts__text {
  margin: 0;
}

.contacts__street {
  margin: 0;
  max-width: 180px;

  @media (min-width: @tablet-width) {
    max-width: 220px;
  }
}

.contacts__mail {
  .link-reset;

  &:hover {
    color: @color-dark-aquamarine-hover;

    .contacts__mail-text::after {
      color: @color-dark-aquamarine-hover;
    }
  }

  &:active {
    color: @color-dark-aquamarine-hover;

    .contacts__mail-text::after {
      color: @color-dark-aquamarine-hover;
      opacity: 0.1;
    }
  }

  &:focus {
    outline: none;

    .contacts__mail-text {
      .focus-outline;
      outline-offset: 7px;
    }
  }
}

.contacts__mail-text {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    bottom: -3px;
    left: 1px;
    width: 100%;
    height: 1px;
    background-color: @color-temperate-aquamarine;

    @media (min-width: @desktop-width) {
      bottom: -8px;
    }
  }
}

.contacts__map {
  margin-bottom: 42px;

  @media (min-width: @tablet-width) {
    margin-bottom: 55px;
  }

  @media (min-width: @desktop-width) {
    grid-column: 2 / 3;
    grid-row: 1 / 4;
    margin-bottom: 0;
  }
}

.contacts__link-wrapper {
  .container;

  @media (min-width: @desktop-width) {
    padding: 0;
  }
}

.contacts__link {
  display: block;
  max-width: 260px;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    max-width: 230px;
  }

  @media (min-width: @desktop-width) {
    margin: 0;
  }
}
