.copyright {
  .link-reset;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 22px 39px;
  color: @color-black;
  max-width: 260px;
  //   color: @color-muddy-grey;
  //   text-decoration: none;
  //   max-width: 280px;

  @media (min-width: @tablet-width) {
    padding: 0;
    max-width: 180px;
    //     justify-self: flex-end;
    //     flex-wrap: wrap;
    //     padding-block: 2px;
  }

  &:hover .copyright__icon {
    color: @color-dark-aquamarine-hover;
  }

  &:active .copyright__icon {
    color: @color-dark-aquamarine-hover;
    opacity: 0.3;
  }

  &:focus {
    .focus-outline;
    outline-offset: -3px;
  }
}

.copyright__text {
  .font(19px, 18px);
  font-weight: 700;

  @media (min-width: @tablet-width) {
    margin-right: 25px;
  }
}

.copyright__icon {
  flex-shrink: 0;
  color: @color-aquamarine;
}
