.feature {
  line-height: 20px;

  @media (min-width: @tablet-width) {
    font-size: 15px;
  }
}

.feature__line {
  display: grid;
  grid-template-columns: 97px auto;
  gap: 1px;
  padding: 7px 0 12px;
  border-bottom: 1px solid @color-light-grey;
}

.feature__term {
  grid-column: 1 / 2;
  text-overflow: ellipsis;
  overflow: hidden;
}

.feature__definition {
  margin: 0;
  grid-column: 2 / -1;
  text-overflow: ellipsis;
  overflow: hidden;
}
