.form {
  padding-bottom: 55px;

  @media (min-width: @tablet-width) {
    padding-bottom: 50px;
  }
}

.form__group {
  .centerer;
  .container;
  padding-block: 0;
  border: none;

  @media (min-width: @tablet-width) {
    position: relative;
    padding-left: 217px;
    padding-block: 50px;

    &--tel {
      padding-bottom: 24px;
    }

    &--email {
      padding-top: 0;
    }
  }

  @media (min-width: @desktop-width) {
    padding-inline: 225px;

    &--checkbox {
      padding-right: 50px;
    }
  }
}

.form__wrapper {
  @media (min-width: @tablet-width) {
    background-color: @color-smoky-white;
  }
}

.form__legend {
  .accent-text;
  position: relative;
  width: 100%;
  padding: 0;

  @media (min-width: @tablet-width) {
    width: auto;
    position: absolute;
    top: 68px;
    left: 50px;

    &--email {
      top: 17px;
    }
  }

  @media (min-width: @desktop-width) {
    left: 110px;
  }

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-1px);
    width: calc(100% - 60px);
    height: 1px;
    background-color: @color-temperate-aquamarine;
    z-index: -1;

    @media (min-width: @tablet-width) {
      display: none;
    }
  }
}

.form__legend-text {
  display: inline-block;
  background-color: @color-white;
  //   text-overflow: ellipsis;
  //   overflow: hidden;

  &--long {
    padding-right: 18px;
  }

  @media (min-width: @tablet-width) {
    background-color: inherit;
  }
}

.form__group-wrapper {
  display: grid;
  gap: 23px;
  padding-top: 4px;
  padding-bottom: 35px;

  &--name {
    padding-top: 28px;
  }

  &--extra {
    padding-top: 22px;
    padding-bottom: 18px;
  }

  @media (min-width: @tablet-width) {
    padding: 0;
    gap: 22px;
  }
}

.form__label {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 4px;

  @media (min-width: @tablet-width) {
    flex-direction: row;
    align-items: center;
    gap: 25px;
  }
}

.form__label-text {
  .form-label-text;
  flex-shrink: 0;
  // max-width: 100px;
  //   text-overflow: ellipsis;
  //   overflow: hidden;

  //   @media (min-width: @tablet-width) {
  //     max-width: 117px;
  //   }
}

.form__list {
  .list-reset;
  padding-top: 25px;
  padding-bottom: 33px;
  display: grid;
  gap: 23px;

  &--with-radio {
    padding-top: 33px;
    padding-bottom: 32px;
    gap: 11px;
  }

  &--with-checkbox {
    @media (min-width: @tablet-width) {
      grid-template-columns: repeat(auto-fit, 210px);
    }
  }

  @media (min-width: @tablet-width) {
    padding: 0;
    gap: 24px 53px;
  }
}

.form__field-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 7px;
  width: 25px;
  height: 27px;
  background-color: @color-muddy-grey;
  mask-repeat: no-repeat;
  mask-position: center;

  @media (min-width: @tablet-width) {
    right: 26px;
  }

  @media (min-width: @desktop-width) {
    right: 8px;
  }

  &--tel {
    mask-image: url("../img/icons/icon-phone.svg");
    // mask-image: url("../img/sprite.svg#icon-phone");
  }

  &--email {
    right: 3px;
    width: 32px;
    height: 21px;
    mask-image: url("../img/icons/icon-mail.svg");
    //     mask-image: url("../img/sprite.svg#icon-mail");

    @media (min-width: @tablet-width) {
      right: 22px;
    }

    @media (min-width: @desktop-width) {
      right: 3px;
    }
  }
}

.form__button-wrapper {
  .container;
  display: flex;
  flex-direction: column;
  gap: 31px;

  @media (min-width: @tablet-width) {
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    gap: 109px;
    margin-top: 2px;
  }

  @media (min-width: @desktop-width) {
    padding-inline: 225px;
    margin-top: 0;
  }
}

.form__button {
  font-size: 17px;
  padding: 16px;

  @media (min-width: @tablet-width) {
    max-width: 230px;
  }
}

.form__signature {
  @media (max-width: @mobile-width-only) {
    .font(14px, 16px);
  }

  @media (min-width: @tablet-width) {
    order: 1;
  }
}
