.site {
  .font(17px, 24px);
  font-weight: 700;
  color: @color-black;

  //   flex-wrap: wrap;
  //   min-width: 320px;
  //   width: 100%;

  @media (max-width: @mobile-width-only) {
    //     flex-direction: column;
    position: relative;
    background-color: @color-white;
  }

  @media (min-width: @tablet-width) {
    display: grid;
    // grid-template-columns: 1fr 1fr;
    grid-template-areas:
      ". search-cart"
      "main info";
    // flex-wrap: wrap;
    //     @include font (18px, 24px);
    //     max-width: 445px;
    //     gap: 10px 35px;
  }

  //   @media (min-width: @desktop-width) {
  //     @include font (20px, 30px);
  //     margin-left: 130px;
  //     margin-bottom: 6px;
  //     color: @color-white;
  //     max-width: 480px;
  //   }
}

.site__sublist {
  .list-reset;

  &--info {
    @media (max-width: @mobile-width-only) {
      display: none;
    }
  }

  @media (min-width: @tablet-width) {
    display: flex;
    // flex-wrap: wrap;

    &--search-cart {
      grid-area: search-cart;
      order: -1;
      margin-left: auto;
      // max-width: 80%;
    }

    &--main {
      grid-area: main;
      gap: 37px;
    }

    &--info {
      grid-area: info;
      justify-content: flex-end;
    }
  }
}

.site__item {
  .container;
  position: relative;

  @media (max-width: @mobile-width-only) {
    border-bottom: 1px solid @color-light-grey;
  }

  @media (min-width: @tablet-width) {
    padding: 0;
  }

  &--search {
    &::before {
      content: "";
      position: absolute;
      top: 32px;
      left: 32px;
      width: 18px;
      height: 18px;
      mask-image: url("../img/icons/icon-search.svg");
      background-color: @color-black;
      // mask-image: url("../img/sprite.svg#icon-search.svg");
      opacity: 0.2;
    }

    &:hover::before {
      background-color: @color-aquamarine;
      opacity: 1;
    }

    &:active::before {
      background-color: @color-aquamarine;
      opacity: 0.3;
    }

    @media (min-width: @tablet-width) {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 31px;
      min-width: 82px;
      min-height: 88px;
      border-left: 1px solid @color-gainsborough;

      &::before {
        // position: relative;
        top: 36px;
        left: 33px;
      }
    }
  }

  &--cart {
    &::before {
      content: "";
      position: absolute;
      top: 31px;
      left: 30px;
      width: 21px;
      height: 18px;
      mask-image: url("../img/icons/icon-cart.svg");
      background-color: @color-black;
      // mask-image: url("../img/sprite.svg#icon-cart.svg");
      opacity: 0.2;
    }

    &:hover::before {
      background-color: @color-aquamarine;
      opacity: 1;
    }

    &:active::before {
      background-color: @color-aquamarine;
      opacity: 0.3;
    }

    @media (min-width: @tablet-width) {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 31px;
      min-height: 88px;
      border-left: 1px solid @color-gainsborough;
      text-align: end;

      &::before {
        // position: relative;
        top: 35px;
        left: 31px;
      }
    }
  }

  .site__search-text {
    @media (min-width: @tablet-width) {
      display: none;
    }
  }

  //   &--current a {
  //     @media (min-width: @tablet-width) {
  //       border-bottom: 2px solid @color-green;
  //     }

  //     @media (min-width: @desktop-width) {
  //       border-bottom-color: @color-white;
  //     }
  //   }

  //   &--current .site__link--inner {
  //     border-bottom-color: @color-green;
  //   }
}

.site__link {
  .link-reset;
  display: flex;

  padding: 28px 0 26px 46px;

  &[href]:hover {
    opacity: 0.6;
  }

  &[href]:active {
    opacity: 0.3;
  }

  &[href]:focus {
    .focus-outline;
    outline-offset: 0;

    @media (min-width: @tablet-width) {
      outline-offset: 1px;
    }
  }

  @media (min-width: @tablet-width) {
    padding: 20px 0;
    font-size: 15px;
    //     margin-top: 10px;

    &--large {
      font-size: 17px;
      padding-left: 83px;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
    }

    &--new {
      display: none;
    }

    &--delivery {
      font-weight: 400;
      text-align: end;
      color: @color-grey;
    }
  }

  //   @media (min-width: @desktop-width) {
  //     padding: 7px 0;
  //     margin-top: 8px;

  //     &[href]:focus {
  //       outline-color: @color-white;
  //     }
}

//   &--inner {
//     @media (min-width: @tablet-width) {
//       padding: 8px 0;
//       margin-top: 9px;
//     }

//     @media (min-width: @desktop-width) {
//       padding: 8px 0;
//       margin-top: 8px;
//       color: @color-dark;

//       &[href]:focus {
//         outline-color: @color-green;
//       }
//     }
//   }
// }
