@color-aquamarine: #63d1bb;
@color-dark-aquamarine: #56c3b2;
@color-temperate-aquamarine: #62d1ba;
@color-green-pine: #149080;
@color-aquamarine-hover: #59d5bc;
@color-dark-aquamarine-hover: #46c1ae;
@color-white: #ffffff;
@color-black: #000000;
@color-dark: #231f20;
// @color-dark-grey: #222222;
@color-grey: #444444;
// @color-muddy-grey: #666666;
@color-smoky-white: #f1f1f1;
@color-background: #f9f9f9;
// @color-background-after: #e6e6e6;
@color-cloudy-grey: #c6c6c6;
@color-smoky-grey: #c7c7c7;
// @color-extra-grey: #bababa;
@color-light-grey: #ececec;
@color-gainsborough: #e5e5e5;
// @color-extra-light-grey: #cdcdcd;
// @logo-footer-hover: #3e3e3e;
// @logo-footer-active: #6b6b6b;
// @color-error: #ff8282;

// Брейкпойнты
@mobile-width-only: 767.98px;
@tablet-width: 768px;
@tablet-width-only: 1149.98px;
@desktop-width: 1150px;
